DirectoryIndex index.html
ErrorDocument 404 /404.html

RewriteEngine On

RewriteRule ^index\.php$ / [R=301,L]
RewriteRule ^links\.php$ /kontakty/ [R=301,L]
RewriteRule ^price\.php$ /price/ [R=301,L]
RewriteRule ^(price|pricek|links)/index\.php$ /$1/ [R=301,L]
RewriteRule ^([a-z0-9-]+)\.php$ /$1/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/$1.webp -f
RewriteRule ^(.+)\.(jpe?g|png)$ /$1.webp [R=301,L,NC]
